[user]
	name = krakacubra
	email = anja.kazakovva@gmail.com
[core]
	editor = C:/Develop/Notepad++/notepad++.exe
[commit]
	template = C:/Develop/Code/.gitmessage.txt
	
[merge]
	tool = kdiff3
[mergetool]
	trustExitCode = false
[diff]
	external = kdiff3
